name: Update API Client
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  PULL_REQUEST_BRANCH_PREFIX: create-pull-request/update-schema-

jobs:
  check-latest-schema:
    outputs:
      is-continued-pr: ${{ steps.check-schema.outputs.update == 'required' && steps.check-pull-request.outputs.pr == 'required' }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check schema
        run: |
          curl "${JAMF_PRO_API_SCHEMA_URL}/api/schema" > openapi.json
          git diff --exit-code --quiet openapi.json && echo "::set-output name=update::none" || echo "::set-output name=update::required"
        id: check-schema
        env:
          JAMF_PRO_API_SCHEMA_URL: ${{ secrets.JAMF_PRO_API_SCHEMA_URL }}
      - name: Check current pull request
        id: check-pull-request
        run: |
          branch_name="${{ env.PULL_REQUEST_BRANCH_PREFIX }}${{ hashFiles('openapi.json') }}"
          remote_url=$( git config --get remote.origin.url )
          has_branch=$( git ls-remote --heads "${remote_url}" "${branch_name}" )
          if [[ "${has_branch}" ]]; then
            echo "${branch_name} branch is already exist."
            echo "::set-output name=pr::none"
          else
            echo "::set-output name=pr::required"
          fi
      - name: Show outputs
        run: |
          echo "Check schema - ${{ steps.check-schema.outputs.update }}"
          echo "Check pull request - ${{ steps.check-pull-request.outputs.pr }}"

  create-pull-request:
    needs: check-latest-schema
    if: needs.check-latest-schema.outputs.is-continued-pr == 'true'

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Go version
        run: |
          echo "::set-output name=version::$(grep -oE "^go [0-9]+\.[0-9]+" go.mod | awk '{print $2}')"
        id: go-version
      - uses: actions/setup-go@v2
        with:
          go-version: "${{ steps.go-version.outputs.version }}"
      - name: Install oapi-codegen
        run: go get github.com/deepmap/oapi-codegen/cmd/oapi-codegen
      - name: Update schema
        run: |
          curl "${JAMF_PRO_API_SCHEMA_URL}/api/schema" > openapi.json
          make generate-client
        env:
          JAMF_PRO_API_SCHEMA_URL: ${{ secrets.JAMF_PRO_API_SCHEMA_URL }}
      - name: Show git status
        run: |
          git status
      - name: Show git diff
        run: |
          git diff
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4.0.2
        id: create-pull-request
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Follow Jamf Pro API schema update
          body: |
            This is an automated PR to update the [Jamf Pro API Document](https://developer.jamf.com/jamf-pro/reference/jamf-pro-api).
            - This is auto-generated by [create-pull-request](https://github.com/peter-evans/create-pull-request)
          branch: ${{ env.PULL_REQUEST_BRANCH_PREFIX }}${{ hashFiles('openapi.json') }}
          base: main
          labels: automated pr
      - name: Show outputs
        run: |
          echo "Created a pull request - ${{ steps.create-pull-request.outputs.pull-request-url }}"
